.page-content {
    margin-top: .75em;
}
.charts {
    margin-top: .75em;
    margin-bottom: 1em;
}
ul {
    margin-left: 1em;
}
.chartitem {
    margin-top: 1em;
    border-bottom: 1px solid #d1d3d4;
    cursor: pointer;
}
.chartcaption {
    text-align: right;
    display: block;
    vertical-align: top;
    min-height: 4em;
}
.capitalized {
    text-transform: capitalize;
}
h2 {
    font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.chartcaption-data {
    font-family: arial, helveticaneue, helvetica, sans-serif;
    font-size: 70%;
    margin-top: 3px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 10.5px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/*.nav {
  position: fixed;
background-color: #ffffff;
z-index: 100;
padding-top: 1em;
padding-left: 1em;
padding-bottom: .5em;
margin-left: 0;
}
.tab-content {
      margin-top: 4.5em;
}*/

.nav-pills {
 overflow-x: scroll;
overflow-y: hidden;
display: -webkit-box;
display: -moz-box;
}
.nav-pills::-webkit-scrollbar {
display: none;
}
.nav-pills>li {
  float:none;
}
